.profileContainer {  
    display: block;
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    resize: none;
    width: 500px;
    background-color: #ffffff;
}

.imageWrapper {
    width: 100%;
    height: 200px;
    background-color: #bbd6ea;
    overflow: hidden;
}   

.imageBanner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #E3E3E3;
}   

.profileIcon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -75px;
    margin-left: 20px;
    object-fit: cover;
    background-color: white;
    grid-row: 1 / 2;
}

.name {
    font-weight: bold;
    font-size: 1.8em;
    /* margin-top: 10px; */
    margin-left: 20px;
    grid-row: 2 / 3;
}

.username {
    color: gray;
    margin-left: 20px;
    /* margin-bottom: 10px; */
    grid-row: 3 / 4;
}   

.editProfileButton {
    margin: 1em 1em;
    border: 1px solid gray;
    border-radius: 9999px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;    
    grid-row: 1 / 2;
}

.spacer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
}