.overlay {
  position: fixed;
  /* shorthand for top: 0; right: 0; bottom: 0; left: 0; */
  inset: 0;
  background: rgba(0,0,0,.45);
  display: grid;
  /* means align-items: center; justify-content: center; */
  place-items: center; 
  z-index: 50;
}

.modal {
  width: min(560px, 92vw);
  background: white;
  border-radius: 16px;
  padding: 16px;
}

.header, .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.textarea {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  resize: none;
  outline: none;
}

.tweetPreview {
  display: grid;
  gap: 12px;
  margin-top: 12px;
  grid-template-columns: auto 1fr;
}

.meta {
  color: gray;
} 

.text{
  margin-top: 4px;
}

.avatarWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.profileIcon {
  font-size: 2em;
  border-radius: 50%;
  margin-right: 0.6em;
  color: #234C6A;
}

.avatarWrapper::after {
  content: "";
  position: absolute;
  left: 30%;
  top: 2.2em;           
  bottom: -1.8em;         
  width: 2px;
  background: #e1e8ed;
}



