.cardContainer {
  display: flex;
  padding: 1em;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  width: fit-content;
  height: fit-content;
}

.cardContainer:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.avatarWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.avatarWrapper::after {
  content: "";
  display: none;
  position: absolute;
  left: 30%;
  /* transform: translateX(-50%); */
  top: 2.2em;           
  bottom: -1.8em;         
  width: 2px;
  background: #e1e8ed;
}

.withLine::after {
  display: block;
}

.profileIcon {
  font-size: 2em;
  border-radius: 50%;
  margin-right: 0.6em;
  color: #234C6A;
}

.tweetImage {
  width: auto;
  max-width: 400px;
  height: auto;
  border-radius: 25px;
  margin-top: 0.5em;
  object-fit: contain;
}

.tweetContent {
  display: flex;
  flex-direction: column;
}

.tweetText {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  width: 500px;
}

.name {
  font-weight: bold;
  margin-right: 0.5em;
}

.likeIcon {
  color: #234C6A;
  margin-top: 0.3em;
  font-size: 1.5em;
  padding: 0.4em;
  padding-top: 0.3em;
  border-radius: 50%;
  font-weight: bold;
}

.likeContainer:hover .likeIcon {
  cursor: pointer;
  color: #cb4a60;
  background-color: rgb(245, 205, 205);
}

.commentIcon {
  color: #234C6A;
  margin-top: 0.4em;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 50%;
  font-weight: bold;
}

.commentContainer:hover .commentIcon {
  cursor: pointer;
  color: #1da1f2;
  background-color: #addbf8;
}

.tweetActions {
  display: flex;
  align-items: center;
  gap: 2em;
}

.likeCount {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.commentCount {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.likeContainer:hover .likeCount {
  cursor: pointer;
  color: #f91880;
}

.liked .likeIcon,
.liked .likeCount {
  color: #f91880;
}

.commentContainer:hover .commentCount {
  cursor: pointer;
  color: #1da1f2;
}

/* .likeContainer {
  cursor: pointer;
  color: #f91880;
} */

.tweetActions li {
  display: flex;
  align-items: center;
}