.tweetBox {
  display: flex;
  padding: 1em;
  border-bottom: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  width: fit-content;
  height: fit-content;
}

.profileIcon {
  font-size: 2em;
  border-radius: 50%;
  margin-right: 12px;
  color: #234C6A;
}

.divider {
  flex: 1;
}

.textarea {
  display: block;
  border-bottom: 1px solid #e6ecf0;
  resize: none;
  font-size: 1.2em;
  width: 300px;
}

.tweetButton {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 0.4em 1em;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1em;
}