.cardContainer {
  display: flex;
  padding: 1em;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  width: fit-content;
  height: fit-content;
}
.profileIcon {
  font-size: 2em;
  border-radius: 50%;
  margin-right: 0.6em;
  color: #234C6A;
}

.tweetContent {
  display: flex;
  flex-direction: column;
}

.tweetText {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  width: 500px;
}

.name {
  font-weight: bold;
  margin-right: 0.5em;
}

.likeIcon {
  color: #234C6A;
  margin-top: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
}

.likeIcon:hover {
  cursor: pointer;
  color: #1da1f2;
}

.commentIcon {
  color: #234C6A;
  margin-top: 0.4em;
  font-size: 1.2em;
  font-weight: bold;
}

.commentIcon:hover {
  cursor: pointer;
  color: #1da1f2;
}

.tweetActions {
  display: flex;
  align-items: center;
  gap: 1em;
}